
<!--Врубил встроеную валидацию чтоб не мучаться (она ни на что не влияет в данном примере работаю через классы Ангуляра)-->
<form class="box" #myform="ngForm" ngNativeValidate >

  <!--показ блока ошибок валидации если таковые есть на форме-->
  <div class="errorblock" *ngIf="myform.invalid">
      <small style="color: red" [hidden]="useremail.valid || (useremail.pristine && !myform.submitted)">
         * Email format should be <i>john@doe.com</i>.
      </small>

  </div>

  <h1>Registration</h1>
  <!--^[a-zA-Z0–9_.+-]+@[a-zA-Z0–9-]+.[a-zA-Z0–9-.]+$ патерн для имейла-->
  <input type="email" [(ngModel)]="user.email" name="email" placeholder="email" #useremail="ngModel" #mailspy equired email  >
  <!--показ ошибок инпута для email-->
  <small style="color: red" [hidden]="useremail.valid || (useremail.pristine && !myform.submitted)">
    Email format should be <i>john@doe.com</i>.
  </small>
<!--поле для пароля-->
<input type="password" [(ngModel)]="user.password" name="password" #userpass="ngModel" placeholder="password" #passspy required   >



<!--кнопка отправки формы пока форма не валидна она не активна-->
<input type="button" [disabled]="!myform.valid" (click)="save()" value="Register user">
</form>


<!--показ ошибок инпута для эмейл  при валидации в случае если они есть-->
<h1><pre *ngIf="useremail.errors">{{ useremail.errors | json }}</pre></h1>
<!--текущая модель-->
<h1>{{user | json}}</h1>
<!--шпионим за классами input -->
<h1>{{mailspy.className | json }}</h1>
<h1>{{ passspy.className | json }}</h1>
