
<!--Врубил встроеную валидацию чтоб не мучаться (ngNativeValidate она ни на что не влияет в данном примере работаю через классы Ангуляра)-->
<form class="box" #myform="ngForm"  >

  <!--показ блока ошибок валидации если таковые есть на форме-->
  <div class="errorblock" *ngIf="myform.invalid" style="color: red">
      <p [hidden]="useremail.valid || (useremail.pristine && !myform.submitted)">
        * Email format should be <i>john@doe.com</i>.
      </p>
      <p [hidden]="userpass.valid || userpass.untouched || (userpass.pristine && !myform.submitted)">
       * Password required or incorect
      </p>
      <p [hidden]="userpass.untouched || userpass2.value===userpass.value  || ( userpass.pristine && !myform.submitted)">
        * Confirm Password must be the same with Password
       </p>
  </div>

  <h1>Registration</h1>
  <!--^[a-zA-Z0–9_.+-]+@[a-zA-Z0–9-]+.[a-zA-Z0–9-.]+$ патерн для имейла-->
  <input type="email" [(ngModel)]="user.email" name="email" placeholder="email"
         #useremail="ngModel" #mailspy equired email title="Must be in format like user@mail.com" >
<!--поле для пароля-->
<input type="password" [(ngModel)]="user.password" name="password" #userpass="ngModel" placeholder="password" #passspy required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      minlength="8" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
<!--поле для потверждения пароля-->
<input type="password" [(ngModel)]="user.password2" name="password2" #userpass2="ngModel" placeholder="confirm_password" #pass2spy required
       title="this field must be the same with Password field">
<!--кнопка отправки формы пока форма не валидна она не активна-->
<!--для валидации пароля условие если значения полей равны то активируем кнопку-->
<input type="button" [disabled]="!myform.form.valid || (userpass.value!=userpass2.value)" (click)="save()" value="Register user">
<!--очищаем форму и классы + пересоздаем текущую модель-->
<input type="submit" value="Clean form" (click)="resetModel();myform.reset()">
</form>


<!--показ ошибок инпута для эмейл  при валидации в случае если они есть-->
<h1><pre *ngIf="useremail.errors">{{ useremail.errors | json }}</pre></h1>
<!--текущая модель-->
<h1>{{user | json}}</h1>
<!--шпионим за классами input -->
<h1>{{mailspy.className | json }}</h1>
<h1>{{ passspy.className | json }}</h1>
<h1>{{ pass2spy.className | json }}</h1>

<!--значение полей паролей-->
<h1>{{ userpass.value }}</h1>
<h1>{{ userpass2.value }}</h1>
